{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Login</h1>
<p class="subtitle">Welcome back! Please sign in.</p>

<div class="form-box">
<form action="/login" method="POST">

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

    <label>Email</label><br>
    <input type="email" name="email" required>

    <br><br>

    <label>Password</label><br>
    <input type="password" name="password" required>

    <br><br>

    <div style="text-align:center; margin-top: 10px;">
        <button type="submit" class="btn">Login</button>
    </div>
</form>
</div>

{% endblock %}
