{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Create Account</h1>
<p class="subtitle">Join TastyBytes today!</p>

<div class="form-box">
<form action="/register" method="POST">

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

    <label>Username</label>
    <input type="text" name="username" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <div style="text-align:center; margin-top: 10px;">
        <button type="submit" class="btn">Register</button>
    </div>

</form>
</div>

{% endblock %}
